html,body{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,h7{
	padding: 0;
	margin: 0;
}

input,textarea,button{
	border: 0;
	outline: none;
}

ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
pre{
	margin: 0;
	background-color: #f8f8f8;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    border-radius: 3px;
}
code{
	margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}
