body,h1,h2,h3,p,ul,li{
	list-style: none;
	margin:0;
	padding:0;
}
html,body{
	height:100%;
}
.swiper-container{
	height:100%;
}
.swiper-wrapper .swiper-slide{
	height: 100%;
}
.section1{
	background:#FF872F;
}
.section2{
	background:#55AFE3;
}
.section3{
	background:#A9CF53;
}

/*第一屏幕*/
.section1,.section2{
	color:#fff;
}
.section1 h2{
	font-weight: normal;
	text-align: center;
}
.section1 div{
	width:80%;
	margin:0 auto;
}
