@charset "utf-8";
/* CSS Document */

/*重置浏览器*/
*{padding:0; margin:0; list-style:none; border:0;}
img{display:block;}

/*a链接*/
a:link,a:visited{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none;color:#333;}
a:active{ text-decoration:none;color:#333;}

/*浮动*/
.fl{float:left;}
.fr{float:right;}
.cl{clear:both;}

/*盒子模型*/
.box-sizing{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

select,input{ outline:medium;}
/*重置苹果默认按钮样式*/
input,select,textarea{-webkit-appearance: none; border:0;}


/*单行文本超出显示省略号*/
.singledotdot{text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}


/*按钮*/
.btn_single{background:#ff7e0b; color:#fff; margin:10px auto; font-size:16px; 
	height:37px; line-height:37px; width:50%; text-align:center; border-radius:5px;}

/*渐变按钮*/		
.btn_jianb{background: #d3d3d4;
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#d3d3d4));
	background: -moz-linear-gradient(top, #fefefe, #d3d3d4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d3d3d4')}
	
.btn_jianb2{background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f7f7));
	background: -moz-linear-gradient(top, #fff, #f7f7f7);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7f7f7')}

/*两个按钮*/
.dbbtnwrap{width:65%; margin:0 auto; text-align:center; height:37px; line-height:37px;}
.dbbtnwrap .index{color:#666666; font-size:14px; width:30%; border-radius:5px; border:1px solid #c9c9c9;}
.dbbtnwrap .save{background:#ff7e0b; font-size:14px; color:#fff; width:63%; margin-left:5%;  border-radius:5px; border:1px solid #ff7e0b;}
	
/**/	
.noborbot{border-bottom:0 !important;}
.noborder{border:0 !important;}
.bortop{border-top:1px solid #b4b4b4;}
.mt10{margin-top:10px !important;}
.mt20{margin-top:20px !important;}
.mb20{margin-bottom:20px !important;}
.mb40{margin-bottom:40px !important;}

/*性别*/
.gendarRadio{height:40px;}
.gendarRadio .womandiv{margin-left:50px;}
.gendarRadio span{padding-top:10px;}
.gendarRadio label{padding:15px 0 0 10px;}
.gendarRadio input[type="radio"]{ height:21px; width: 23px; opacity:0; position: absolute; vertical-align:middle;}
.gendarRadio input[type="radio"]:checked + b{height: 21px; width: 23px; display:inline-block; }
.gendarRadio input[type="radio"].radio1 + b{
	height:21px; width:23px; background:url(../images/man1.png) no-repeat; display:inline-block; 
	background-size:100% 100%; -webkit-background-size:100% 100%; -moz-background-size:100% 100%; vertical-align:middle;
}
.gendarRadio input[type="radio"].radio1:checked + b{
	height:21px; width:23px; background:url(../images/man.png) no-repeat; display:inline-block; 
	background-size:100% 100%; -webkit-background-size:100% 100%; -moz-background-size:100% 100%; vertical-align:middle;
}
.gendarRadio input[type="radio"].radio2 + b{
	height:21px; width:23px; background:url(../images/woman1.png) no-repeat; display:inline-block; 
	background-size:100% 100%; -webkit-background-size:100% 100%; -moz-background-size:100% 100%; vertical-align:middle;
}
.gendarRadio input[type="radio"].radio2:checked + b{
	height:21px; width:23px; background:url(../images/woman.png) no-repeat; display:inline-block;
	background-size:100% 100%; -webkit-background-size:100% 100%; -moz-background-size:100% 100%; vertical-align:middle;
}
.gendarRadio input[type="radio"]:checked{}
	
/*日期*/
.dateComCssDiv input{width:100%; height:32px; color:#333;  position:relative; padding:0 0px 0 0px; outline:medium;
	background:url(../images/date-icon.png) no-repeat center right; 
	background-size:14px 14px; -webkit-background-size:14px 14px; -moz-background-size:14px 14px;}


