h1,h2,h3,h4,h5,h6,p,ul,li,ol{
	padding: 0;
	margin: 0;
	list-style: none;
}
body{
	font-family: "微软雅黑";
	background: #2f3238;
	color: #fff;
}
h3{
	color: #fff;
	text-align: center;
	padding: 0 0 30px;
}
.col-md-3:nth-child(4n+1),
.col-md-4:nth-child(3n+1){
	clear: both;
}
.col-md-3 > div{
	min-height: 80px;
}
.col-md-4{
	margin-bottom: 10px;
}

/**/
.tips{
	padding: 10px 0;
	color: #fff;
}

/*表单动画*/
.input_wrap{
	padding-bottom: 50px;
}
.input_layout{
	width: 500px;
	margin: 40px auto 0;
	position: relative;
}
.input_layout input{
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #fff;
	background: transparent;
	margin-bottom: 9px;
	color: #fff;
	padding-left: 0;
}
.input_layout input:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0;
	border-color: #fff;
}
.input_layout .line{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #ff507c;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}
.input_layout input:focus ~ .line{
	-webkit-transform: scale(1);
	transform: scale(1);
}
.input_layout label{
	position: absolute;
	left: 0;
	top: 6px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 3px;
	-webkit-transition: all 0.2s;
}
.input_layout input:focus ~ label{
	top: -30px;
	color: #f36;
	font-size: 12px;
}

/*对勾动画*/
.correct_mark{
	position: relative;
	width: 64px;
	height: 64px;
}
.correct_mark .wrapper{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
}
.correct_mark .wrapper_right{
	right: 0;
}
.correct_mark .wrapper_left{
	left: 0;
}
.correct_mark .wrapper .circle_animate{
	width: 200%;
	height: 100%;
	border: 6px solid transparent;
	border-radius: 50%;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.correct_mark .wrapper .right_circle{
	right: 0;
	border-top-color: #44e7ba;
	border-right-color: #44e7ba;
}
.correct_mark .wrapper .left_circle{
	left: 0;
	border-bottom-color: #44e7ba;
	border-left-color: #44e7ba;
}
.correct_mark .check_animate{
	width: 100%;
	overflow: hidden;

	position: absolute;
	left: 50%;
	top: 50%;
	margin: -12px 0 0 -17px;
}
.correct_mark .check_animate img{
	width: 34px;
	height: 25px;
	display: block;
}
.correct_mark:hover{
	cursor: pointer;
}
.correct_mark:hover .right_circle{
	animation: circleAnimateRight 0.5s linear 1;
	-webkit-animation: circleAnimateRight 0.55s linear 1;
}
.correct_mark:hover .left_circle{
	animation: circleAnimateLeft 0.5s linear 1;
	-webkit-animation: circleAnimateLeft 0.55s linear 1;
}
.correct_mark:hover .check_animate{
	opacity: 0;
	animation: expandw linear 0.3s 0.55s forwards;
	-webkit-animation: expandw linear 0.3s 0.55s forwards;
}

@-webkit-keyframes expandw{
	0% {
		opacity: 1;
		width: 0;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}
@keyframes expandw{
	0% {
		opacity: 1;
		width: 0;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}
@-webkit-keyframes circleAnimateRight {
	0%{
		-webkit-transform: rotate(-135deg);
	}
	50%,100%{
		-webkit-transform: rotate(45deg);
	}
}
@keyframes circleAnimateRight {
	0%{
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	50%,100%{
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
@-webkit-keyframes circleAnimateLeft {
	0%,50%{
		-webkit-transform: rotate(-135deg);
	}
	100%{
		-webkit-transform: rotate(45deg);
	}

}
@keyframes circleAnimateLeft {
	0%,50%{
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	100%{
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

/*图片放大*/
.img_enlarge img{
	transition: transform 0.3s ease-out;
	-webkit-transition: transform 0.3s ease-out;
	cursor: pointer;
}
.img_enlarge:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

/*hi-闪烁*/
.sparking{
	-webkit-animation: Sparking 3s 2s infinite;
	animation: Sparking 3s 2s infinite;
}
@-webkit-keyframes Sparking{
	0%,50%,100%{
		opacity: 1;
	}
	25%,75%{
		opacity: 0;
	}
}
@keyframes Sparking{
	0%,50%,100%{
		opacity: 1;
	}
	25%,75%{
		opacity: 0;
	}
}

/*floating-上下浮动*/
.floating{
	-webkit-animation: Floating 2s infinite alternate;
	animation: Floating  2s infinite alternate;
}
@-webkit-keyframes Floating {
	0%{
		-webkit-transform: translateY(-6px);
	}
	100%{
		-webkit-transform: translateY(6px);
	}
}
@keyframes Floating {
	0%{
		-webkit-transform: translateY(-6px);
		-moz-transform: translateY(-6px);
		-ms-transform: translateY(-6px);
		-o-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	100%{
		-webkit-transform: translateY(6px);
		-moz-transform: translateY(6px);
		-ms-transform: translateY(6px);
		-o-transform: translateY(6px);
		transform: translateY(6px);
	}
}

/*锁--左右晃动*/
.lock:hover{
	-webkit-animation: shake 0.8s;
	animation: shake 0.8s;
}
@-webkit-keyframes shake {
	0%,100% {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
	12.5%,37.5%,62.5%,87.5%{
		-webkit-transform: translate3d(-3px,0,0);
		transform: translate3d(-3px,0,0)
	}
	25%,50%,75%{
		-webkit-transform: translate3d(3px,0,0);
		transform: translate3d(3px,0,0)
	}
}
@keyframes shake {
	0%,100% {
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0)
	}
	12.5%,37.5%,62.5%,87.5%{
		-webkit-transform: translate3d(-3px,0,0);
		-ms-transform: translate3d(-3px,0,0);
		transform: translate3d(-3px,0,0)
	}
	25%,50%,75%{
		-webkit-transform: translate3d(3px,0,0);
		-ms-transform: translate3d(3px,0,0);
		transform: translate3d(3px,0,0)
	}
}
/*关闭*/
.close_wrap img{
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.close_wrap:hover img{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
/*点击图片-展开*/
.fold h4{
	margin: 0;
	color: #fff;
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 22px;
	cursor: pointer;
	padding: 2px 0 2px 30px;
	background: url(../images/tips_icon_01.png) 0 0 no-repeat;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.fold h4:hover{
	color: #7fadeb;
	background: url(../images/tips_icon_02.png) 0 0 no-repeat;
}

/*练习*/
/*effect-lily*/
.effect_lily{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.effect_lily img{
	opacity: 0.7;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}
.effect_lily .words{
	position: absolute;
	left: 0;
	bottom: 60px;
	width: 100%;
	padding: 0 0 0 20px;
	color: #fff;
}
.effect_lily .words h2,
.effect_lily .words p{
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}
.effect_lily .words h2{
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.effect_lily .words p{
	opacity: 0;
	-webkit-transition: opacity 0.5s 0.08s, -webkit-transform 0.5s 0.08s;
	transition: opacity 0.5s 0.08s, transform 0.5s 0.08s;
}
.effect_lily:hover img,
.effect_lily:hover .words p{
	opacity: 1;
}
.effect_lily:hover img,
.effect_lily:hover .words h2,
.effect_lily:hover .words p{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*effect_sadie*/
.effect_sadie{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.effect_sadie img{
	opacity: 0.8;
}
.effect_sadie .words{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.effect_sadie .words h2{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	margin: 0;
	color: #484c61;
	text-align: center;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
	-webkit-transition: color,-webkit-transform 0.35s;
	transition: color,transform 0.35s;
}
.effect_sadie:hover .words h2{
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
.effect_sadie .words p{
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 2em;
	color: #fff;
	text-align: center;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	-webkit-transition: opacity,-webkit-transform 0.35s;
	transition: opacity,transform 0.35s;
}
.effect_sadie:hover .words p{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_sadie .layer{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
	-webkit-transition: opacity,-webkit-transform 0.35s;
	transition: opacity,-webkit-transform 0.35s;
}
.effect_sadie:hover .layer{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*effect_honey*/
.effect_honey{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.effect_honey img{
	opacity: 0.9;
	transition: opacity 0.35s;
}
.effect_honey:hover img{
	opacity: 0.5;
}
.effect_honey .words h2{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 30px;
	color: #fff;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.effect_honey .words h2 span{
	opacity: 0;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.effect_honey .words p{
	width: 100%;
	height: 10px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.effect_honey:hover .words h2,
.effect_honey:hover .words h2 span,
.effect_honey:hover .words p{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_honey:hover .words h2 span{
	opacity: 1;
}

/*effect_layla*/
.effect_layla{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	 background: #18a367;
}
.effect_layla img{
	opacity: 0.8;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.effect_layla:hover img{
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_layla .words{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 30px;
	text-align: center;
}
.effect_layla .words h2{
	padding-top: 27%;
	text-transform: uppercase;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.effect_layla:hover .words h2{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_layla .words p{
	font-size: 12px;
	padding: 10px 20px;
	opacity: 0;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.effect_layla:hover .words p{
	opacity: 1;
}
.effect_layla .words .line1,
.effect_layla .words .line2{
	position: absolute;
	opacity: 0;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.effect_layla .words .line1{
	left: 20px;
	right: 20px;
	top: 40px;
	bottom: 40px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.effect_layla .words .line2{
	left: 40px;
	right: 40px;
	top: 20px;
	bottom: 20px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}
.effect_layla:hover .words .line1,
.effect_layla:hover .words .line2{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/*effect_zoe*/
.effect_zoe{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background: #3085a3;
}
.effect_zoe img{
	opacity: 0.8;
}
.effect_zoe .words{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.effect_zoe .words .des{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 8em;
	padding: 20px;
	text-align: center;
	opacity: 0;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.effect_zoe .words .white{
	background: #fff;
	padding: 20px 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	overflow: hidden;
}
.effect_zoe .words .white h2{
	color: #333;
	float: left;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.effect_zoe .words .white p span{
	float: right;
	color: #333;
	padding: 0 10px;
	-webkit-transform: translate3d(0,200%,0);
	/*transform: translate3d(0,0,0);*/
	-webkit-transition: -webkit-transform 0.35s;
}
.effect_zoe:hover .words,
.effect_zoe:hover .words .white h2,
.effect_zoe:hover .words .white p span{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_zoe:hover .words .white p span:nth-child(1){
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.effect_zoe:hover .words .white p span:nth-child(2){
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.effect_zoe:hover .words .white p span:nth-child(3){
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.effect_zoe:hover .words .white,
.effect_zoe:hover .words .des{
	opacity: 1;
}
.effect_zoe:hover .words .white h2{
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

/*.effect_oscar*/
.effect_oscar{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background: #3085a3;
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}
.effect_oscar img{
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.effect_oscar:hover img{
	opacity: 0.4;
}
.effect_oscar .words{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 30px;
	text-align: center;
}
.effect_oscar .words h2{
	margin-top: 60px;
	text-transform: uppercase;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.effect_oscar .words p{
	margin-top: 10px;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.effect_oscar .words .line{
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	border: 1px solid #fff;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.effect_oscar .words h2,
.effect_oscar .words p,
.effect_oscar .words .line{
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.effect_oscar:hover .words h2,
.effect_oscar:hover .words p,
.effect_oscar:hover .words .line{
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*effect_marley*/
.effect_marley{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background: #3085a3;
}
.effect_marley img{
	opacity: 0.8;
}
.effect_marley .words h2{
	position: absolute;
	right: 30px;
	top: 30px;
	text-transform: uppercase;
	font-size: 24px;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.effect_marley:hover .words h2{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_marley .words .line{
	position: absolute;
	left: 30px;
	right: 30px;
	top: 70px;
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
	height: 4px;
	background: #fff;
	opacity: 0;
}
.effect_marley:hover .words .line{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
}
.effect_marley .words p{
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 30px;
	color: #fff;
	opacity: 0;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.effect_marley:hover .words p{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_marley .words .line,
.effect_marley .words p{
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
	transition: opacity 0.35s,transform 0.35s;
}
/*effect_ruby*/
.effect_ruby{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background: #17819c;
}
.effect_ruby img{
	opacity: 0.8;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.effect_ruby:hover img{
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.effect_ruby .words{
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	text-align: center;
}
.effect_ruby .words h2{
	margin-top: 20%;
	text-transform: uppercase;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.effect_ruby:hover .words h2{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_ruby .words p{
	margin-top: 10px;
	padding: 20px 20px;
	border: 1px solid #fff;
	opacity: 0;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.effect_ruby:hover .words p{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}
/*effect_roxy*/
.effect_roxy{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
	background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}
.effect_roxy img{
	opacity: 0.8;
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
}
.effect_roxy:hover img{
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_roxy .words{
	position: absolute;
	left: 30px;
	top: 30px;
	right: 30px;
	bottom: 30px;
}
.effect_roxy .words h2{
	text-transform: uppercase;
	margin-top: 30%;
	padding-left: 20px;
}
.effect_roxy .words p{
	margin-top: 10px;
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_roxy:hover .words p{
	opacity: 1;
	-webkit-transform: translate3d(20px,0,0);
	transform: translate3d(20px,0,0);
}
.effect_roxy .words .line{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #fff;
	opacity: 0;
	-webkit-transform: translate3d(-20px, 0, 0);
	transform: translate3d(-20px, 0, 0);
}
.effect_roxy:hover .words .line{
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.effect_roxy img,
.effect_roxy .words p,
.effect_roxy .words .line{
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
/*effect_bubba*/
.effect_bubba{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background: #9e5406;
}
.effect_bubba img{
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
.effect_bubba:hover img{
	opacity: 0.5;
}
.effect_bubba .words{
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	text-align: center;
}
.effect_bubba .words h2,
.effect_bubba .words p{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_bubba .words h2{
	margin-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}
.effect_bubba:hover .words h2{
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}
.effect_bubba .words p{
	margin-top: 50px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition:  opacity 0.35s, transform 0.35s;
}
.effect_bubba:hover .words p{
	opacity: 1;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}
.effect_bubba .words .line1,
.effect_bubba .words .line2{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.effect_bubba .words .line1{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);	transform: scale(0,1);
}
.effect_bubba .words .line2{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}
.effect_bubba:hover .words .line1,
.effect_bubba:hover .words .line2{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*effect_romeo*/
.effect_romeo{
	width: 100%;
	max-height: 280px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background: #3085a3;
}
.effect_romeo img{
	opacity: 0.8;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect_romeo:hover img{
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,100px);
	transform: translate3d(0,0,100px);
}








