.correct_mark{
	position: relative;
	width: 64px;
	height: 64px;
}
.correct_mark .wrapper{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
}
.correct_mark .wrapper_right{
	right: 0;
}
.correct_mark .wrapper_left{
	left: 0;
}
.correct_mark .wrapper .circle_animate{
	width: 200%;
	height: 100%;
	border: 6px solid transparent;
	border-radius: 50%;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.correct_mark .wrapper .right_circle{
	right: 0;
	border-top-color: #44e7ba;
	border-right-color: #44e7ba;
	animation: circleAnimateRight 0.3s linear 1;
	-webkit-animation: circleAnimateRight 0.3s linear 1;
}
.correct_mark .wrapper .left_circle{
	left: 0;
	border-bottom-color: #44e7ba;
	border-left-color: #44e7ba;
	animation: circleAnimateLeft 0.3s linear 1;
	-webkit-animation: circleAnimateLeft 0.3s linear 1;
}
.correct_mark .check_animate{
	width: 100%;
	overflow: hidden;
	animation: expandw linear 0.3s 0.35s forwards;
	-webkit-animation: expandw linear 0.3s 0.35s forwards;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -12px 0 0 -17px;
}
.correct_mark .check_animate img{
	width: 34px;
	height: 25px;
	display: block;
}

@-webkit-keyframes expandw{
	0% {
		opacity: 1;
		width: 0;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}
@keyframes expandw{
	0% {
		opacity: 1;
		width: 0;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}
@-webkit-keyframes circleAnimateRight {
	0%{
		-webkit-transform: rotate(-135deg);
	}
	50%,100%{
		-webkit-transform: rotate(45deg);
	}
}
@keyframes circleAnimateRight {
	0%{
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	50%,100%{
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
@-webkit-keyframes circleAnimateLeft {
	0%,50%{
		-webkit-transform: rotate(-135deg);
	}
	100%{
		-webkit-transform: rotate(45deg);
	}

}
@keyframes circleAnimateLeft {
	0%,50%{
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
	100%{
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}














